.list-events-wrapper {
  width: 50%;
  padding: 10px 10px;
  border: 3px solid orange;
  border-radius: 5px;
  box-shadow: 10px 10px gray;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
}

.action-btn {
  float: right;
  margin-left: 10px;
}

.mode_edit {
  color: blue;
}

.delete {
  color: red !important;
}

.events-list {
  cursor: pointer;
  text-transform: uppercase;
  height: 15em;
  background-color: burlywood;
  margin-top: 20px;
  margin-left: 7px;
  width: 18em;
  float: left;
  text-align: center;
  position: relative;
  border-radius: 3px;
  transition: .7s ease;
}

.gallery-wrapper .btn {
  margin-left: 5px;
  background-color: yellowgreen;
  color: blue;
  clip-path: polygon(0 1%, 84% 1%, 100% 100%, 0% 100%);  
}

.gallery-wrapper {
  /* margin-top: 30px; */
  display: inline;
}

.gallery-wrapper .action-btn {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.events-list:hover {
  opacity: 10%;
  color: red;
  /* background: url('../../images/bg.png'); */
}
