.header {
  height: 50px;
  /* background-color: darkslategray; */
  background-image: linear-gradient(-20deg, grey, purple);
  line-height: 50px;
  padding: 0 15px;
  color: white;
  text-shadow: 2px 2px red;
  padding: 0 !important;
}

.my-name {
  cursor: pointer;
  font-family: fantasy;
  font-size: 2em;
  padding: 15px 15px;
  /* text-shadow: 2px 2px black; */
}