
.my-name {
  cursor: pointer;
  font-family: fantasy;
  font-size: 2em;
  padding: 15px 15px 30px;
}

.my-name a {
  color: #000;
}

.nav li:hover {
  clip-path: polygon(0 1%, 89% 1%, 132% 100%, 0% 100%);
  background-color: orange;
}

.my-name img {
  margin-top: 15px;
}

.nav a {
  cursor: pointer;
}

.nav li {
  margin-left: 10px;  
}