.signup {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:30%;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 10px 10px 20px 0px grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
}

.input-field input {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.signup .material-icons {
  color: rebeccapurple;
  opacity: 0.7;
}

.input-field label{
  color: rgba(255,255,255,0.7) !important;
  font-size: 1em !important;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  border-color:  rgba(255,255,255,0.7) !important;
}

.signup .btn {
  background-color: yellowgreen;
  color: blue;
  clip-path: polygon(0 1%, 84% 1%, 100% 100%, 0% 100%);
}